<div>
  <h3 class="element">Store Management Panel</h3>
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger element" (click)="openModal()">New Store</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <app-group-form></app-group-form>
  </div>

  <table class="highlight responsive-table element">
    <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
    </thead>
    <tr *ngFor="let store of stores">
      <td>{{store.name}}</td>
      <td>{{store.address}}</td>
      <td><i class="material-icons">edit</i></td>
      <td><i class="material-icons">delete</i></td>
    </tr>
  </table>
</div>
