<div class="component">
  <h3 class="element">Category Management Panel</h3>
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger element" (click)="openModal()">New Category</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <app-group-form></app-group-form>
  </div>

  <table class="highlight responsive-table element">
    <thead>
    <tr>
      <th>Singular name</th>
      <th>Plural name</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
    </thead>
    <tr *ngFor="let category of categories">
      <td>{{category.singular_name}}</td>
      <td>{{category.plural_name}}</td>
      <td><i class="material-icons">edit</i></td>
      <td><i class="material-icons">delete</i></td>
    </tr>
  </table>
</div>
