.product-container {
  display: flex;
}

.lateral-navbar {
  float: left;
  height: 100%;
}

.content {
  float: right;
  height: 100%;
}
.products {
  border: solid 0.5px black;
}

.my-buttons {
 float: right;
}
.my-title {
  float: left;
}
