<script src="product.component.ts"></script>
<div class="container">
  <h3 class="element">Product Management Panel</h3>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-success myButton" (click)="createProductOpenModal()">
    Create a new product
  </button>
  <button type="button" class="btn btn-success myButton" (click)="importProductOpenModal()">
    Import stock from file
  </button>

  <!-- Create Modal -->
  <app-product-create-modal #createProductModal id="createProduct" [showModal]="isCreateModalOpen" [title]="'Create Product'" (createdProductAlert)="createdProductAlert($event)"></app-product-create-modal>
  <!-- Edit modal -->
  <app-product-edit-modal #editProductModal id="editProduct" [showModal]="isEditModalOpen" [title]="'Edit Product'" (updatedProductAlert)="updatedProductAlert($event)"></app-product-edit-modal>
  <!-- Delete Modal -->
  <app-product-delete-modal #deleteProductModal id="deleteProduct" [showModal]="isDeleteModalOpen" [title]="'Delete Product'" (deletedProductAlert)="deletedProductAlert($event)"></app-product-delete-modal>
  <!-- Detail Modal -->
  <app-product-detail-modal #detailProductModal id="detailProduct" [showModal]="isDetailModalOpen" [title]="'Product Info'" (detailProductAlert)="detailProductAlert($event)"></app-product-detail-modal>
  <!-- Add Stock Modal -->
  <app-product-stock-modal #stockProductModal id="stockProduct" [showModal]="isStockModalOpen" [title]="'Product Stock'" (stockProductAlert)="stockProductAlert($event)"></app-product-stock-modal>
  <!-- Import Stock Modal -->
  <app-product-import-modal #importProductModal id="importProduct" [showModal]="isImportModalOpen" [title]="'Import Stock'" (importedProductAlert)="importProductAlert($event)"></app-product-import-modal>


  <div class="row card myCard">
    <div class="card-header">
      <h4 class="card-title product">Filter by</h4>
        <div class="btn-group my-group" role="group">
          <button class="btn btn-outline-secondary" (click)="setList(true)"><i class="material-icons">view_headline</i></button>
          <button class="btn btn-outline-secondary" (click)="setList(false)"><i class="material-icons">view_comfy</i></button>
        </div>
    </div>
    <div class="card-body">
      <div>
        <div class="form-row">
          <div class="col">
            <label for="orders" class="align-content-center">
              <i class="material-icons" *ngIf="reverse" (click)="setReverse()">arrow_upward</i>
              <i class="material-icons" *ngIf="!reverse"(click)="setReverse()">arrow_downward</i>
              Order By
            </label>
            <div class="form-group" id="orders">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="nameRadio" id="nameRadio" value="name" [(ngModel)]="order" checked>
                <label class="form-check-label" for="nameRadio">
                  Name
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="priceRadio" id="priceRadio" value="costAfterTax" [(ngModel)]="order">
                <label class="form-check-label" for="priceRadio">
                  Price
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="quantityRadio" id="quantityRadio" value="quantity" [(ngModel)]="order">
                <label class="form-check-label" for="quantityRadio">
                  Quantity
                </label>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="brand">Brand</label>
              <select class="form-control" id="brand" (change)="filterBrand($event.target.value)">
                <option [value]="-1">All</option>
                <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="category">Category</label>
              <select class="form-control" id="category" (change)="filterCategory($event.target.value)">
                <option [value]="-1">All</option>
                <option *ngFor="let cat of categories" [value]="cat.id">{{cat.plural_name}}</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="search">Search</label>
              <input type="text" class="form-control" id="search" [(ngModel)]="productFilter.name">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="catalogue" *ngIf="filteredProducts !== undefined">
    <ul class="list-group" *ngIf="list">
      <li class="list-group-item" *ngFor="let prod of filteredProducts | filterBy: productFilter | orderBy: order : reverse | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let i = index">
        <ul class="product list-inline">
          <li class="list-inline-item">{{prod.name}}</li>
          <li class="list-inline-item"><b>Code:</b> {{prod.code}}</li>
          <li class="list-inline-item"><b>Price:</b> {{prod.costAfterTax}}</li>
          <li class="list-inline-item"><b>Quantity:</b> {{prod.quantity}}</li>
        </ul>
        <div class="btn-group my-group" role="group" aria-label="Product actions">
          <button type="button" class="btn btn-outline-secondary" (click)="stockProductOpenModal(prod)"><i class="material-icons">add_circle</i></button>
          <button type="button" class="btn btn-outline-secondary" (click)="editRowOpenModal(prod)"><i class="material-icons">edit</i></button>
          <button type="button" class="btn btn-outline-secondary" (click)="deleteRowOpenModal(prod)"><i class="material-icons">delete</i></button>
          <button type="button" class="btn btn-outline-secondary" (click)="detailProductOpenModal(prod)"><i class="material-icons">more</i></button>
        </div>
      </li>
    </ul>
    <mat-grid-list cols="4" rowHeight="200px" *ngIf="!list">
      <mat-grid-tile
        *ngFor="let prod of filteredProducts | filterBy: productFilter | orderBy: order : reverse | paginate: { itemsPerPage: 10, currentPage: page }; let i = index"
        [colspan]="1"
        [rowspan]="1"
        [style.background]="'white'">
        <mat-grid-tile-header class="">
          {{prod.name}}
        </mat-grid-tile-header>
        <div class="">
          <ul class="product list-inline">
            <li class="list-inline-item"><b>Code:</b> {{prod.code}}</li>
            <li class="list-inline-item"><b>Price:</b> {{prod.price}}</li>
            <li class="list-inline-item"><b>Quantity:</b> {{prod.quantity}}</li>
          </ul>
        </div>
        <mat-grid-tile-footer>
          <div class="btn-group" align="center">
            <button type="button" class="btn btn-outline-secondary" (click)="stockProductOpenModal(prod)"><i class="material-icons">add_circle</i></button>
            <button type="button" class="btn btn-outline-secondary" (click)="editRowOpenModal(prod)"><i class="material-icons">edit</i></button>
            <button type="button" class="btn btn-outline-secondary" (click)="deleteRowOpenModal(prod)"><i class="material-icons">delete</i></button>
            <button type="button" class="btn btn-outline-secondary" (click)="detailProductOpenModal(prod)"><i class="material-icons">more</i></button>
          </div>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="my-pagination">
      <pagination-controls
      maxSize="9"
      (pageChange)="page = $event"
      ></pagination-controls>
    </div>
  </div>
  <div class="jumbotron" *ngIf="filteredProducts === undefined || filteredProducts.length === 0">
    <h1>Oops, there seems to be no products with those filters</h1>
  </div>
</div>
