<div>
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger element" (click)="openModal()">New Group</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <app-group-form></app-group-form>
  </div>

  <table class="highlight responsive-table element">
    <thead>
      <tr>
        <th>Name</th>
        <th>Stores</th>
        <th>Groups</th>
        <th>Products</th>
        <th>Users</th>
        <th>Brands</th>
        <th>Categories</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tr *ngFor="let group of groups">
      <td>{{group.name}}</td>
      <td><i class="material-icons" *ngIf="group.stores">check_box</i><i class="material-icons" *ngIf="!group.stores">check_box_outline_blank</i></td>
      <td><i class="material-icons" *ngIf="group.groups">check_box</i><i class="material-icons" *ngIf="!group.groups">check_box_outline_blank</i></td>
      <td><i class="material-icons" *ngIf="group.products">check_box</i><i class="material-icons" *ngIf="!group.products">check_box_outline_blank</i></td>
      <td><i class="material-icons" *ngIf="group.users">check_box</i><i class="material-icons" *ngIf="!group.users">check_box_outline_blank</i></td>
      <td><i class="material-icons" *ngIf="group.brands">check_box</i><i class="material-icons" *ngIf="!group.brands">check_box_outline_blank</i></td>
      <td><i class="material-icons" *ngIf="group.categories">check_box</i><i class="material-icons" *ngIf="!group.categories">check_box_outline_blank</i></td>
      <td><i class="material-icons">edit</i></td>
      <td><i class="material-icons">delete</i></td>
    </tr>
  </table>
</div>
