<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Login</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm">
              <div class="form-group">
                <label for="email">Username</label>
                <input
                  id="email"
                  class="form-control"
                  placeholder="Your username should be your email"
                  name="email"
                  type="email"
                  [(ngModel)]="user.email"
                  formControlName="email">
              </div>
            <div *ngIf="invalidForm && !loginForm.controls['email'].valid" class="alert alert-danger">
              This isn't a valid username
            </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  id="password"
                  class="form-control"
                  placeholder="Password"
                  name="password"
                  type="password"
                  [(ngModel)]="user.password"
                  formControlName="password"
                  >
              </div>
            <div *ngIf="invalidForm && !loginForm.controls['password'].valid" class="alert alert-danger">
              You must login with a password.
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Forgot your password?
              </button>
            </div>
            <div class="form-group">
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  You will need to contact your administrator in order to get your password resetted.
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" (click)="this.login()">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
