<ul id="dropdown1" class="dropdown-content myDropdown">
  <li><a routerLink="/users">Users</a></li>
  <li class="divider"></li>
  <li><a routerLink="/groups">Groups</a></li>
  <li class="divider"></li>
  <li><a routerLink="/stores">Stores</a></li>
  <li class="divider"></li>
  <li><a routerLink="/categories">Categories</a></li>
  <li class="divider"></li>
  <li><a routerLink="/products">Catalogue</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content myDropdown">
  <li><a routerLink="/pos">POS</a> </li>
  <li><a routerLink="/sales">Report</a> </li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo logo">{{title}}</a>
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-button" href="#" data-activates="dropdown2"><i class="small material-icons left">attach_money</i>Sales</a></li>
      <li><a routerLink="/stock"><i class="small material-icons left">store</i>Inventory</a></li>
      <li><a class="dropdown-button" href="#" data-activates="dropdown1">Panels<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a routerLink="/profile"><i class="small material-icons left">account_box</i> Profile</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
