<div class="modal-backdrop fade in" [style.display]="showModal ? 'block' : 'none'"></div>
<div class="modal" tabindex="-1" role="dialog" style="display: block" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title">{{title + " - Group: " + user.id + " " + user.name}}</span>
        <i class="icon-cancel fr" data-dismiss="modal" aria-label="Close" (click)="cancelAction()"></i>
        <p *ngIf="subTitle">{{subTitle}}</p>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
        <form [formGroup]="userForm" (ngSubmit)="this.createUser()">
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="name">User name</label>
                <input
                  placeholder="Choose a user name"
                  id="name"
                  type="text"
                  class="form-control"
                  data-length="20"
                  required
                  name="name"
                  [(ngModel)]="user.name"
                  formControlName="name"
                  value="user.name"
                >
              </div>
              <div class="form-group">
                <label for="telephone">Telephone</label>
                <input
                  placeholder="Telephone number"
                  id="telephone"
                  type="text"
                  class="form-control"
                  data-length="20"
                  required
                  name="telephone"
                  [(ngModel)]="user.telephone"
                  formControlName="telephone"
                  value="user.telephone"
                >
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <input
                  placeholder="User's address"
                  id="address"
                  type="text"
                  class="form-control"
                  data-length="20"
                  required
                  name="address"
                  [(ngModel)]="user.address"
                  formControlName="address"
                  value="user.address"
                >
              </div>
              <div class="form-group">
                <label for="birthday">Birth date</label>
                <input
                  id="birthday"
                  type="text"
                  class="form-control"
                  data-length="20"
                  required
                  name="birthday"
                  [(ngModel)]="user.birthday"
                  formControlName="birthday"
                  value="user.birthday"
                >
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  placeholder="User's email"
                  id="email"
                  type="text"
                  class="form-control"
                  data-length="20"
                  required
                  name="email"
                  [(ngModel)]="user.email"
                  formControlName="email"
                  value="user.email"
                >
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="popup-footer">
              <button class="btn btn-primary"  aria-label="Close" (click)="this.hide()">
                Cancel
              </button>
              <button type="submit" class="btn btn-success" aria-label="Close" (click)="this.hide()">
                Create
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
