<div class="modal-backdrop fade in" [style.display]="showModal ? 'block' : 'none'"></div>
<div class="modal" tabindex="-1" role="dialog" style="display: block" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title">{{title + " - User: " + user.id + " " + user.name}}</span>
        <i class="icon-cancel fr" data-dismiss="modal" aria-label="Close" (click)="cancelAction()"></i>
        <p *ngIf="subTitle">{{subTitle}}</p>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
        <form [formGroup]="userForm" (ngSubmit)="this.editUser()">
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <label for="firstname">User firstname</label>
                <input
                  placeholder="Choose a user firstname"
                  id="firstname"
                  type="text"
                  class="form-control"
                  data-length="20"
                  required
                  name="firstname"
                  [(ngModel)]="user.firstname"
                  formControlName="firstname"
                  value="user.firstname"
                >
                <div *ngIf="invalidForm && !userForm.controls['firstname'].valid" class="alert alert-danger">
                  Please make sure you put at least a 2 character long firstname.
                </div>
              </div>
              <div class="form-group">
                <label for="lastname">User lastname</label>
                <input
                  placeholder="Choose a user lastname"
                  id="lastname"
                  type="text"
                  class="form-control"
                  data-length="20"
                  required
                  name="lastname"
                  [(ngModel)]="user.lastname"
                  formControlName="lastname"
                  value="user.lastname"
                >
                <div *ngIf="invalidForm && !userForm.controls['lastname'].valid" class="alert alert-danger">
                  Please make sure you put at least a 2 character long lastname.
                </div>
              </div>
              <div class="form-group">
                <label for="taxNum">Tax Payer Numer</label>
                <input
                  placeholder="Choose a tax payer number"
                  id="taxNum"
                  type="text"
                  class="form-control"
                  data-length="20"
                  required
                  name="taxNum"
                  [(ngModel)]="user.taxNum"
                  value="user.taxNum"
                  formControlName="taxNum"
                >
                <div *ngIf="invalidForm && !userForm.controls['taxNum'].valid" class="alert alert-danger">
                  A valid tax payer number is required.
                </div>
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <input
                  id="address"
                  type="text"
                  class="form-control"
                  data-length="20"
                  required
                  name="address"
                  [(ngModel)]="user.address"
                  value="user.address"
                  formControlName="address"
                >
                <div *ngIf="invalidForm && !userForm.controls['address'].valid" class="alert alert-danger">
                  A valid address is required.
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="birthday">Birthday</label>
                <my-date-picker
                  id="birthday"
                  [(ngModel)]="user.birthday"
                  value="getDate(user.birthday)"
                  formControlName="birthday"
                  options="myDatePickerOptions"
                >
                </my-date-picker>
                <div *ngIf="invalidForm && !userForm.controls['birthday'].valid" class="alert alert-danger">
                  A birthday is required.
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  placeholder="Choose a email"
                  id="email"
                  type="text"
                  class="form-control"
                  data-length="50"
                  required
                  name="email"
                  [(ngModel)]="user.email"
                  value="user.email"
                  formControlName="email"
                >
                <div *ngIf="invalidForm && !userForm.controls['email'].valid" class="alert alert-danger">
                  A valid email is required.
                </div>
                <div *ngIf="invalidForm && isEmailTaken" class="alert alert-danger">
                  This email is taken.
                </div>
              </div>
              <div class="form-group">
                <label for="telephone">Telephone</label>
                <input
                  id="telephone"
                  type="text"
                  class="form-control"
                  data-length="20"
                  required
                  name="telephone"
                  [(ngModel)]="user.telephone"
                  value="user.telephone"
                  formControlName="telephone"
                >
                <div *ngIf="invalidForm && !userForm.controls['telephone'].valid" class="alert alert-danger">
                  A valid telephone is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label for="admin">Is it an admin?</label>
              <input
                id="admin"
                type="checkbox"
                class="form-control"
                required
                name="admin"
                [(ngModel)]="user.admin"
                value="user.admin"
                formControlName="admin"
              >
            </div>
          </div>
          <div class="modal-footer">
            <div class="popup-footer">
              <button type="button" class="btn btn-primary"  aria-label="Close" (click)="this.hide()">
                Cancel
              </button>
              <button type="submit" class="btn btn-success" aria-label="Close">
                Update
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
