<div class="modal-backdrop fade in" [style.display]="showModal ? 'block' : 'none'"></div>
<div class="modal" tabindex="-1" role="dialog" style="display: block" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title">Checkout new order</span>
        <i class="icon-cancel fr" data-dismiss="modal" aria-label="Close" (click)="cancelAction()"></i>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
        <mat-horizontal-stepper [linear]="false" #stepper="matHorizontalStepper">
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Check the order</ng-template>
              <div class="form-group">
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let detail of orderDetails">
                    {{detail.product.name}} <b>Amount:</b> {{detail.quantity}} <b>Price:</b> {{detail.quantity * detail.product.costAfterTax}}
                  </li>
                </ul>
                <br>
                <p><b>Total items:</b> {{totalItems}} <b>Total price:</b> {{totalPrice}}</p>
                <label for="firstCheck">I agree with the information above</label>
                <input id="firstCheck" type="checkbox" formControlName="firstCtrl" required>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-warning"  aria-label="Close" (click)="this.hide()">
                  Cancel
                </button>
                <button type="button" class="btn btn-success" matStepperNext>
                  Next
                </button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Fill out customer info</ng-template>
              <div class="form-group">
                <label for="email">Customer's email</label>
                <input class="form-control" id="email" type="email" formControlName="email">
                <label for="paymentOption">Choose a Payment option</label>
                <select id="paymentOption" class="custom-select" formControlName="payment">
                  <option *ngFor="let p of paymentOptions" value="{{p}}" required>{{p}}</option>
                </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-warning" matStepperPrevious>Back</button>
                <button type="button" class="btn btn-success" matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Confirm order</ng-template>
            <div class="card">
              <div class="card-header">
                Order details
              </div>
              <div class="card-body">
                <h5 class="card-title">Total: {{totalPrice}} $</h5>
                <p class="card-text">Customer is paying with {{secondFormGroup.value.payment}}</p>
                <li class="list-group-item" *ngFor="let detail of orderDetails">
                  {{detail.product.name}} <b>Amount:</b> {{detail.quantity}} <b>Price:</b> {{detail.quantity * detail.product.costAfterTax}}
                </li>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning"  aria-label="Close" (click)="this.hide()">
                Cancel
              </button>
              <button type="button" class="btn btn-success" (click)="createOrder(); this.hide();">
                Finish
              </button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</div>
