.product-container {
  display: flex;
}

.lateral-navbar {
  float: left;
  height: 100%;
}

.content {
  float: right;
  height: 100%;
}

.options {
  border-right: solid 0.5px black;
}

.options-title {
  align-content: center;
}

.search-options {
  align-content: left;
}
