<div class="container">
  <h3 class="element">Group Management Panel</h3>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-success myButton" (click)="createGroupOpenModal()">
    Create a new group
  </button>

  <!-- Create Modal -->
  <app-group-create-modal #createGroupModal id="createGroup" [showModal]="isCreateModalOpen" [title]="'Create group'" (createdGroupAlert)="createdGroupAlert($event)"></app-group-create-modal>
  <!-- Edit modal -->
  <app-group-edit-modal #editGroupModal id="editGroup" [showModal]="isEditModalOpen" [title]="'Edit group'" (updatedGroupAlert)="updatedGroupAlert($event)"></app-group-edit-modal>
  <!-- Delete Modal -->
  <app-group-delete-modal #deleteGroupModal id="deleteGroup" [showModal]="isDeleteModalOpen" [title]="'Delete Group'" (deletedGroupAlert)="deletedGroupAlert($event)"></app-group-delete-modal>

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>CUIT</th>
      <th>Address</th>
      <th>Telephone</th>
      <th>Birthday</th>
      <th>Email</th>
      <th>Groups</th>
      <th>Stores</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let group of groups">
      <td>{{ group.id }}</td>
      <td>{{ group.name}}</td>
      <td>{{ group.stores}}</td>
      <td>{{ group.groups}}</td>
      <td>{{ group.products}}</td>
      <td>{{ group.users}}</td>
      <td>{{ group.brands}}</td>
      <td>{{ group.categories}}</td>
      <td>{{ group.units}}</td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn" (click)="editRowOpenModal(group)"><i class="material-icons">edit</i></button>
          <button type="button" class="btn btn-default btn" (click)="deleteRowOpenModal(group)"><i class="material-icons">delete</i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
