<div class="container">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Profile</h3>
    </div>
    <form [formGroup]="userForm" (ngSubmit)="updateUser()">
      <div class="card-body">
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="firstname">User firstname</label>
              <input
                placeholder="Choose a user firstname"
                id="firstname"
                type="text"
                class="form-control"
                data-length="20"
                required
                name="firstname"
                [(ngModel)]="user.firstname"
                formControlName="firstname"
                value="user.firstname"
              >
              <div *ngIf="invalidForm && !userForm.controls['firstname'].valid" class="alert alert-danger">
                Please make sure you put at least a 2 character long firstname.
              </div>
            </div>
            <div class="form-group">
              <label for="lastname">User lastname</label>
              <input
                placeholder="Choose a user lastname"
                id="lastname"
                type="text"
                class="form-control"
                data-length="20"
                required
                name="lastname"
                [(ngModel)]="user.lastname"
                formControlName="lastname"
                value="user.lastname"
              >
              <div *ngIf="invalidForm && !userForm.controls['lastname'].valid" class="alert alert-danger">
                Please make sure you put at least a 2 character long lastname.
              </div>
            </div>
            <div class="form-group">
              <label for="telephone">Telephone</label>
              <input
                placeholder="Telephone number"
                id="telephone"
                type="text"
                class="form-control"
                data-length="20"
                required
                name="telephone"
                [(ngModel)]="user.telephone"
                formControlName="telephone"
                value="user.telephone"
              >
              <div *ngIf="invalidForm && !userForm.controls['telephone'].valid" class="alert alert-danger">
                A valid telephone is required
              </div>
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input
                placeholder="User's address"
                id="address"
                type="text"
                class="form-control"
                data-length="20"
                required
                name="address"
                [(ngModel)]="user.address"
                formControlName="address"
                value="user.address"
              >
              <div *ngIf="invalidForm && !userForm.controls['address'].valid" class="alert alert-danger">
                A valid address is required.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="birthday">Birth date</label>
              <my-date-picker
                name="birthday"
                options="myDatePickerOptions"
                [(ngModel)]="user.birthday"
                required
                id="birthday"
                formControlName="birthday"
                value="user.birthday"
              ></my-date-picker>
              <div *ngIf="invalidForm && !userForm.controls['birthday'].valid" class="alert alert-danger">
                A birthday is required.
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                placeholder="User's email"
                id="email"
                type="text"
                class="form-control"
                data-length="20"
                required
                name="email"
                [(ngModel)]="user.email"
                formControlName="email"
                value="user.email"
              >
              <div *ngIf="invalidForm && !userForm.controls['email'].valid" class="alert alert-danger">
                A valid email is required.
              </div>
            </div>
            <div class="form-group">
              <label for="taxNum">Tax paying number</label>
              <input
                placeholder="User's tax paying number"
                id="taxNum"
                type="text"
                class="form-control"
                data-length="20"
                required
                name="taxNum"
                [(ngModel)]="user.taxNum"
                formControlName="taxNum"
                value="user.taxNum"
              >
              <div *ngIf="invalidForm && !userForm.controls['taxNum'].valid" class="alert alert-danger">
                A valid tax payer number is required.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-success">
          Update information
        </button>
      </div>
    </form>
  </div>
  <br>
  <div class="card">
    <div class="card-header">
      <h3>Change password</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="passwordForm">
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="password">New Password</label>
              <input
                id="password"
                type="password"
                class="form-control"
                data-length="20"
                required
                name="password"
                formControlName="password"
              >
            </div>
            <div *ngIf="invalidPasswordForm && !passwordForm.controls['password'].valid" class="alert alert-danger">
              Fill this field!
            </div>
            <div class="form-group">
              <label for="confirmPassword">Re-enter New Password</label>
              <input
                id="confirmPassword"
                type="password"
                class="form-control"
                data-length="20"
                required
                name="confirmPassword"
                formControlName="confirmPassword"
              >
            </div>
            <div *ngIf="invalidPasswordForm && !passwordForm.controls['password'].valid" class="alert alert-danger">
              Fill this field!
            </div>
            <div *ngIf="invalidPasswordForm && isPasswordDifferent" class="alert alert-danger">
              Passwords do not match.
            </div>
          </div>
      </div>
      </form>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success" (click)="changePassword()">
        Change password
      </button>
    </div>
  </div>
</div>
