<div class="jumbotron">
  <div class="container">
    <img src="../../assets/img/logo.svg" class="img-fluid logo my-logo" alt="Responsive image" width="250" height="250">
    <h1 class="display-3">Business Manager</h1>
    <p>We are a business assistance tool, we offer inventory and sales management solutions.
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Inventory Management</h2>
      <p>Manage your products by a simplistic interface, filter through them with ease and spend less time with supplier purchases. Add stock easily, individually or by batch and choose a way to show your products: either a list or a grid.</p>
      <p><a class="btn btn-secondary" href="/products" role="button">Visit the inventory »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Point of sale</h2>
      <p>Business manager offers a simple point of sale to manage your everyday operations. Register all your operations, how the client paid and send him a digital ticket through his/her email account and analyze all of them through the sales report section.</p>
      <p><a class="btn btn-secondary" href="/pos" role="button">Visit the POS »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Employee Management</h2>
      <p>This tool offers you the possibility to manage your employees through the user management panel. Edit their information, reset their passwords and filter different pages for sales-people and administrators!</p>
      <p><a class="btn btn-secondary" href="/users" role="button">Visit the user management panel »</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>© Sebastian Alejo Iglesias - Universidad Austral - Facultad de Ingenieria - Laboratorio I - Final 2018</p>
  </footer>
</div>
